/* colonne bandeau */

@keyframes elargir {
    0%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
}


/* Shake elem liste */

@keyframes shake
{
    0%{
      transform: rotateZ(0);
    }
    15%{
      transform: rotateZ(-15deg);
    }
    20%{
      transform: rotateZ(10deg);
    }
    25%{
      transform: rotateZ(-10deg);
    }
    30%{
      transform: rotateZ(6deg);
    }
    35%{
      transform: rotateZ(-4deg);
    }
    40%, 100%{
      transform: rotateZ(0);
    }
}